@CHARSET "ISO-8859-1";

#barra{
	width: 800px;
	float: none;
}

#conteudo{
	width: 800px;
}

#smallleft{
	width: 395px;
	float: left;
	
}

#smallright{
	width: 395px;
	float: right;
	
}

.linhas{
    height : 10px;
}